.bg-image{
	background-image: url('/assets/img/bgbody.jpeg'); 
  	height: 100%; 
  
  	/* Center and scale the image nicely */
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	/*filter: blur(8px);
 	-webkit-filter: blur(8px);*/
}
